<html>
    <head>
        <title> <%= title %> </title>
        <link rel="stylesheet" href="./assets/style.css" />
    </head>
    <body>
        <div>
            <a href="/">Home</a>
            <a href="users/add">Ajouter un user</a>
            <a href="/users">Tous les users</a>
        </div>
        <h1> <%= title %> </h1>